@charset "UTF-8";
html {
    width: 100%;
    overflow-x: hidden;
}

body {
    background: #AF1010;
}

.btn-area {
    margin: 60px 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

ol,
ul {
    padding: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.title {
    margin: 50px 0 50px 0;
}

.btn2 {
    margin-left: 20px;
    margin-right: 20px;
}


/* header */

.header {
    background: #fff;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.header-btn img {
    width: 20px;
}

.header-btn:hover {
    color: #000;
}

.header-btn {
    background: #ffbf2c;
    color: #000;
}


/* banner */

.banner {
    padding-top: 0px;
}

.index_banner {
    display: block;
    max-width: 1920px;
    margin: auto;
    height: 845px;
    background: url(../images/banner-bg.png) no-repeat top center;
    background-size: auto 100%;
    position: relative;
    box-sizing: border-box;
    padding: 100px 0 0 0;
    perspective: 200px;
    overflow: hidden;
}

.banner_content {
    display: block;
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.banner_title {
    display: block;
    width: 40%;
    max-width: 530px;
    margin: 0 auto 0 0;
}

.banner_title img.s_title {
    display: block;
    max-width: 100%;
    margin-bottom: 50px;
}

.banner_title img.banner_button {
    display: block;
    max-width: 96%;
    margin: 0 0 0 15px;
}

.banner_button {
    display: block;
    width: 55%;
}

@media(max-width:750px) {
    .banner {
        padding-top: 0px;
    }
    .index_banner {
        height: 45rem;
        background: url(../images/banner-bg-m.png) no-repeat top center;
        background-size: auto 100%;
        padding: 2rem 0 0 0;
    }
    .banner_title {
        width: 80%;
        margin: auto;
    }
    .bb {
        display: none;
    }
}


/* step */

.card {
    padding: 80px 120px 50px 120px;
    border-radius: 10px;
    margin-top: -10px;
    z-index: 2;
}

.btn-rules {
    width: 234px;
    margin-top: 30px;
}

.btn-rules:hover {
    cursor: pointer;
}

.req-pc {
    width: 1000px;
    margin: 60px 0;
}

.step-m {
    display: none;
}

.req-m {
    display: none;
}


/* model */

.inner-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.inner-txt {
    padding: 10px 25px;
    line-height: 2;
    font-size: 15px;
}

.inner-txt td {
    line-height: 1.5;
    font-size: 16px;
}

.modal-title span {
    color: #319a9f;
    font-weight: 600;
    margin-left: 10px;
}


/* gift */

#gift {
    background-repeat: repeat;
    padding: 0 0 100px 0;
}

.gift-img {
    position: relative;
    margin: 12.5px 0;
    z-index: 100;
}


/* footer */

.footer {
    background: #424242;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #adadae;
}

.contact {
    padding: 25px 0 15px 0;
    margin: 30px 0 60px 0;
    border: 1px solid #4f4f4f;
    border-radius: 5px;
}

.contact img {
    width: 40px;
}

.footer a {
    color: #adadae;
}

@media (max-width: 767px) {
    .banner {
        padding-top: 0px;
    }
    .title {
        margin: 30px 0 20px 0;
    }
    .btn-area {
        margin: 20px 0;
    }
    #gift {
        padding: 0 0 30px 0;
    }
    .btn-rules {
        width: 150px;
        margin-top: 30px;
    }
    .btn2 {
        margin-left: 0;
        margin-right: 0;
    }
    .banner-bg {
        display: none;
    }
    .banner-bg-m {
        display: block;
    }
    .card {
        padding: 40px 20px 20px 20px;
    }
    .step-pc {
        display: none;
    }
    .step-m {
        display: block;
    }
    .req-pc {
        display: none;
    }
    .req-m {
        margin: 20px 0 33px 0;
        display: block;
    }
    .contact {
        display: none;
    }
    .footer {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .footer p {
        font-size: 0.7rem;
        margin-bottom: 30px;
    }
    .tree1 {
        display: none;
    }
    .tree2 {
        display: none;
    }
    .tree3 {
        display: none;
    }
    .yellow {
        display: none;
    }
    .title {
        padding-left: 20%;
        padding-right: 20%;
    }
}